
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
	<!-- Custom Stylesheet -->
	<link href="/quixlab-master/css/style.css" rel="stylesheet">

</head>

<body>

	<div class="nav-header" style="background-color: black;">
		<div class="brand-logo">
			<a href="/Profile/ProfileDetail">
				<span class="brand-title" style="color: white; font-size: 1.5em; font-weight: bold;">
					Email Chat
				</span>
			</a>
		</div>
	</div>

	<div class="header" style="position: relative;">
		<div class="header-content clearfix">
			<div class="header-left">
				<br />
				<a class="btn gradient-4 btn-lg border-0 btn-rounded px-5" href="/Message/CreateMessage" style="font-size: 1.2em;">Yeni Mail Oluştur</a>
			</div>
			<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
				<br />
				<br />
				<br />
				<img alt=""  src="/quixlab-master/images/Email Chat 2.png" style="width: 500px; height: 500px;">
			</div>

			<div class="header-right">
				<li class="icons dropdown">
					<div class="user-img c-pointer position-relative" data-toggle="dropdown">
						<span class="activity active"></span>
						<img src="@ViewBag.ProfilePhoto" height="40" width="40" alt="">
					</div>
					<div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
						<div class="dropdown-content-body">
							<ul>
								<li>
									<a href="/Profile/ProfileDetail/"><i class="icon-user"></i> <span>Profil</span></a>
								</li>
								<li>
									<a href="/Message/Inbox/">
										<i class="icon-envelope-open"></i> <span>Gelen Kutusu</span> <div class="badge gradient-3 badge-pill gradient-1">@ViewBag.InboxCountFalse</div>
									</a>
								</li>
								<hr class="my-2">
								<li>
									<a href="#"><i class="icon-lock"></i> <span>Alan Satın Al</span></a>
								</li>
								<li><a href="/Login/UserLogin"><i class="icon-key"></i> <span>Çıkış</span></a></li>
							</ul>
						</div>
					</div>
				</li>
			</div>
		</div>
	</div>


	<div class="sidebar" style="width: 250px; float: left;">
		<div class="card">
			<div class="card-body">
				<!-- Profil Kısmı -->

				<div class="text-center">
					<img alt="" class="rounded-circle mt-4" src="@ViewBag.ProfilePhoto" style="width: 100px; height: 100px;">
					<h4 class="card-widget__title text-dark mt-3" style="font-size: 1.5em;">@ViewBag.name @ViewBag.surname</h4>
					<a class="btn gradient-4 btn-lg border-0 btn-rounded px-5" href="/Profile/ProfileDetail" style="font-size: 1.2em;">Profil</a>
				</div>

				<!-- Menü Kısmı -->
				<div class="email-left-box mt-2">
					<div class="mail-list mt-2">
						<a href="/Message/Inbox" class="list-group-item border-0 text-primary p-r-0" style="font-size: 1.2em;"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b> <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.InboxCountFalse Yeni</span> </a>
						<a href="/Message/SendBox" class="list-group-item border-0 p-r-0" style="font-size: 1.2em;"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Giden Kutusu</a>
						<a href="/Message/CreateMessage" class="list-group-item border-0 p-r-0" style="font-size: 1.2em;"><i class="fa fa-plus font-18 align-middle mr-2"></i> Mail Oluştur</a>
						<a href="/Register/CreateUser" class="list-group-item border-0 p-r-0" style="font-size: 1.2em;"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Kullanıcı Oluştur</a>
						<a href="/Login/UserLogin" class="list-group-item border-0 p-r-0" style="font-size: 1.2em;"><i class="fa fa-trash font-18 align-middle mr-2"></i>Çıkış Yap</a>

					</div>
				</div>
			</div>

		</div>
		<!-- İstatistik Bölümü -->
		<div class="card mt-2">
			<div class="stat-widget-one">
				<div class="stat-content">
					<div class="stat-text" style="font-size: 2em;">Depolama Alanı</div>
					<div class="stat-text" style="font-size: 1em;">15 Gb Depolama Alanından Kalan</div>
					<div class="stat-digit gradient-4-text" style="font-size: 1.5em;">14 Gb</div>
				</div>
				<div class="progress mb-2">
					<div class="progress-bar gradient-4" style="width: 7%;" role="progressbar">
						<span class="sr-only">15% Complete</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">@RenderBody()</div>


	<script src="/quixlab-master/plugins/common/common.min.js"></script>
	<script src="/quixlab-master/js/custom.min.js"></script>
	<script src="/quixlab-master/js/settings.js"></script>
	<script src="/quixlab-master/js/gleek.js"></script>
	<script src="/quixlab-master/js/styleSwitcher.js"></script>

	@RenderSection("Scripts", required: false)

</body>
</html>

