@model IdentityChatEmail.Models.ProfileDetailViewModel
@{
	ViewData["Title"] = "ProfileDetail";
	Layout = "~/Views/Shared/_MessageLayout.cshtml";
	int count = 0;
}

<h3><b>Son Gelen Mailler</b></h3>
<table class="table mt-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Tarih</th>
            <th>Mesajı Aç</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.InboxMessages.Count; i++)
        {

            var item = Model.InboxMessages[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@item.SenderName @item.SenderSurname</td>
                <td>@item.Message.Subject</td>
                <td>@item.Message.SendDate.ToShortDateString()</td>
                <td><a href="/Message/MessageDetail/@item.Message.MessageId" class="btn btn-warning">Mesajı Aç</a></td>
                <td>
                    @if (item.Message.IsRead)
                    {
                        <a href="/Profile/ProfileIsReadToFalse/@item.Message.MessageId" class="btn btn-success">Okunmadı Olarak İşaretle</a>
                    }
                    else
                    {
                        <a href="/Profile/ProfileIsReadToTrue/@item.Message.MessageId" class="btn btn-dark">Okundu Olarak İşaretle</a>
                    }
                </td>
            </tr>

        }
    </tbody>
    <h4>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
</table>
<h3><b>Kullanıcı Bilgilerini Güncelle</b></h3>
<h4>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
<form asp-action="UpdateUserInfo" asp-controller="Profile" method="post">
    <label><b>Adınız</b></label>
    <input asp-for="Name" class="form-control" />
    <br />
    <label><b>Soyadınız</b></label>
    <input asp-for="Surname" class="form-control" />
    <br />
    <label><b>Kullanıcı Adınız</b></label>
    <input asp-for="Username" class="form-control" />
    <br />
    <label><b>Mail Adresiniz</b></label>
    <input asp-for="Email" class="form-control" />
    <br />
    <label><b>Profil Fotoğrafınız (Url) </b></label>
    <input asp-for="ProfileImageUrl" class="form-control" />
    <br />
    <label><b>Yeni Şifreniz</b></label>
    <input type="text" name="PasswordHash" class="form-control" placeholder="Yeni Şifre" />
    <br />
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
